
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}
.col-1-of-2{
    width: 50%;
}
.header{
    height: 90vh;
    width: 72%;
    background-image: linear-gradient(rgba(47, 144, 125, 0.9),rgba(16, 29, 44, 0.9)),
    url(image/i.jpeg);
    background-size: cover;
    background-position: top;
    padding: 75px 95px;
}
.logo{
    position: absolute;
    top: -25px;
    left: 28%;
    width: 131px;
}
.text-box{
    position: absolute;
    padding: 16% 50px;
}
.mid{
    font-size: 36px;
    color: #fff;
    display: block;
    
}
.head{
    font-size: 15px;
    display: block;
    color: #f1a951;
}
.btn{
    font-size: 14px;
    margin: 20px 0px;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: #f1a951;
    border-radius: 6px;
    display: inline-block;
    padding: 8px 20px;
}
.about-section{
    background-color: #c7c1c1;
    padding: 75px 95px;
}
.d-flex{
    display: flex;

}
.heading{
    padding: 28px 28px;
}
.heading-sec{
    font-size: 21px;
    color: #000000;
    padding: 19px 0;
}
.paragraph{
    font-size: 15px;
    color: #000000;
}
.about{
    family: 'Exo', sans-serif;

}
.photo{
    width: 35%;
}
.img-box{
    position: relative;
}
.img{
    width: 30%;
    position: absolute;
    outline-offset: 12px;
}
.img-1{
    height: 277px;
    width: 100%;
}

.img-2{
    left: 17%;
    top: 37px;
    height: 180px;
    width:  274px;
}
.img-3{
    left: 52%;
    top: 77px;
    width: 281px;
    padding: 31px;
}
.flex-gap{
    gap: 177px;
}

.text-boxes{
    height: 277px;
    width: 100%;
    background-color: #f9e0e0;
}

.image-box{
    border-radius: 3PX;
    background-color: #f7f7f7;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    padding: 20px 12px;
    text-align: center;
    
}
.feature-section{
    background-color: #f7f7f7;
    padding: 75px 95px;
}
.feature{
    background-color: #f9e0e0;
    width: 260px;
    height: 350px;
    margin: 40px;
}
.feature-list{
    margin-top: -18px;
    margin-left: 35px;
}
.feature-list-1{
    margin-top: 30px;
}
.p{
    font-size: 17px;
    margin-top: 26px;
    margin-left: 30px;
}
.p-1{
    font-size: 15px;
    margin-top: 28px;
    margin-left: 30px;
}
.worth{
    font-size: 12px;
    margin-top: 30px;
    margin-left: 90px;
}
.worth-1{
    font-size: 12px;
    margin-top: 30px;
    margin-left: 90px;
}
.work{
    font-size: 15px;
    background-color: rgba(16, 29, 44, 0.9);
    text-align: center;
    color: #f7f7f7;
    width: 86%;
    height: 39px;
    padding: 5px 0;
}
.work-1{
    font-size: 18px;
    background-color: #af8d55;
    text-align: center;
    color: #f7f7f7;
    width: 100%;
    padding: 0 3px;
}
.inner-card{
    background-image: url(image/bc.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}
.inner-card-2{
    background-image: url(image/ab.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}
.inner-card-3{
    background-image: url(image/f.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}
.inner-card-4{
    background-image: url(image/c.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}
.inner-card-5{
    background-image: url(image/g.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}

.inner-card-6{
    background-image: url(image/e.jpeg);
    height: 160px;
    width: 260px;
    background-position: center;
    background-size: cover;
}
